{% extends 'base.html' %}
{% load user_filters %}
{% block title %}{% if kit %}
Редактировать
{% else %}
Новая запись
{% endif %}
{% endblock %}
{% block content %}
{% load static %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card card_dark">
        <div class="card-header">{% if form.instance.pk %}Редактировать {%
          else %}Новая запись{% endif %}
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" {% if form.instance.pk %}
                action="{% url 'cross:kit_edit' kit_id %}"
                {% else %} action="{% url 'cross:kit_create' %}" {% endif %}>
            {% csrf_token %}
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">{{ error|escape }}</div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error|escape }}</div>
              {% endfor %}
            {% endif %}

            <div class="form-group row my-3 p-3">
              {% for field in form %}
                <div class="form-group row my-1 p-2">

                  <label for="{{ field.id_for_label }}">{{ field.label }}
                    {% if field.field.required %}
                      <span
                          class="required text-danger">*</span>
                    {% endif %}
                  </label>
                  {{ field|addclass:'form-control' }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help"
                           class="form-text text-muted">
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                  {% load thumbnail %}
                  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                  <img class="card-img my-2" src="{{ im.url }}">
                  {% endthumbnail %}
                </div>
              {% endfor %}
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if form.instance.pk %}Сохранить{% else %}Добавить{% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
