{% extends 'base.html' %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}
<h1> Стартовая</h1>
    {% for kit in page_obj %}
<article>
  <span>
  <ul>
     <li>
     Дата публикации: {{ kit.created|date:"d E Y" }}
    </li>
    <li>
      Дизайн: «{{ kit.title }}»
    </li>
    <li>
      Слаг: «{{ kit.slug }}»
    </li>
      {% if kit.description %}
    <li>
      Описание: {{ kit.description }}
    </li>
      {% endif %}
      {% if kit.author %}
    <li>
      Дизайнер: {{ kit.author }}
    </li>
      {% endif %}
    <li>
      Кто завел на сайте: {{ kit.creator.get_full_name }}
    </li>
      {% if kit.design_created_year %}
    <li>
     Дата создания дизайна: {{ kit.design_created_year|date:"d E Y" }}
    </li>
      {% endif %}
    <li>
     Всего крестиков: {{ kit.total_crosses }}
    </li>
  </ul>
  </span>
</article>
    {% endfor %}
{% include 'includes/paginator.html' %}
{% endblock %}
